.container {
    background-color: #1653A5;
    width: 339px;
    border-radius: 8px;
    padding: 30px;
    box-sizing: border-box;
}

.marginStyle30 {
    margin-top: 30px;
}

.marginStyle20 {
    margin-top: 20px;
}

